Repository IndaPlus24/ollebjor-osen-project, pull requests merged in 2025-04, with the labels that each got.

#12 Feat: Basic physics
  include/Enums.hpp
  include/PhysicsCore.hpp
  include/Primitive.hpp
  include/PrimitiveDefinitions.hpp
  include/utils.hpp
  src/PhysicsCore.cpp
  src/Primitive.cpp
  src/Renderer.cpp
  src/main.cpp
Labels: enhancement, Graphics, Core

#8 Feat: Primitive lua api
  .gitignore
  CMakeLists.txt
  include/LuaClass.hpp
  include/LuaCore.hpp
  include/PrimitiveLua.hpp
  scripts/test.lua
  src/LuaCore.cpp
  src/PhysicsCore.cpp
  src/PrimitiveLua.cpp
  src/main.cpp
Labels: enhancement, Lua

#21 Feat: Meshes
  assets/Holder.obj
  assets/Suzane.obj
  external/tiny_obj_loader.h
  include/Collider.hpp
  include/Entity.hpp
  include/Enums.hpp
  include/MeshContainer.hpp
  include/MeshEntity.hpp
  include/PhysicsCore.hpp
  include/Primitive.hpp
  include/Vertex.hpp
  src/Collider.cpp
  src/Entity.cpp
  src/MeshContainer.cpp
  src/MeshEntity.cpp
  src/PhysicsCore.cpp
  src/Primitive.cpp
  src/TinyObjLoader.cpp
  src/main.cpp
Labels: enhancement, Core

#27 Feat: callbacks for physics step & frame update
  include/Core.hpp
  src/Core.cpp
  src/main.cpp
Labels: enhancement, Core

#28 Feat: simple camera setup
  include/Camera.hpp
  include/Renderer.hpp
  src/Camera.cpp
  src/main.cpp
Labels: enhancement, Graphics, Core

#34 Feat: Deferred rendering
  assets/wood_planks_diff_2k.jpg
  assets/wood_planks_nor_dx_2k.jpg
  include/Core.hpp
  include/Entity.hpp
  include/MeshContainer.hpp
  include/PrimitiveDefinitions.hpp
  include/Renderer.hpp
  include/ScreenVertex.hpp
  include/Vertex.hpp
  shaders/fs_combine.sc
  shaders/fs_geom.sc
  shaders/fs_light.sc
  shaders/varying.def.sc
  shaders/vs_combine.sc
  shaders/vs_geom.sc
  shaders/vs_light.sc
  src/Core.cpp
  src/Entity.cpp
  src/MeshContainer.cpp
  src/MeshEntity.cpp
  src/Primitive.cpp
  src/Renderer.cpp
  src/SceneManager.cpp
  src/main.cpp
Labels: enhancement, Graphics
